body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  /*background: #fff8f0;*/
  /*color: #333;*/
  background: #f0fff4; /* verde claro */
  color: #2f4f4f;
}

.container {
  text-align: center;
  padding: 2rem;
  background: #fffaf5;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
  /*color: #e69500;*/
  /*font-size: 2.5rem;*/
  color: #2e7d32; /* verde oscuro */
  font-size: 2.5rem;
}

.down_div{
  margin-top: 150px;
  text-align: center;
}


/*HOJAS*/
.card-decorated {
  background-image: url('../public/assets/frame/leaves-bg.png'); /* imagen de hojas en PNG */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
}
.card-decorated_3 {
  background-image: url('../public/assets/frame/leaves_3.png'); /* imagen de hojas en PNG */
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: -62px;
  border-radius: 20px;
}
.card-decorated_4 {
  background-image: url('../public/assets/frame/leaves_4.png'); /* imagen de hojas en PNG */
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  border-radius: 20px;
}
.card-decorated_5 {
  background-image: url('../public/assets/frame/leaves_5.png'); /* imagen de hojas en PNG */
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  border-radius: 20px;
}
.card-decorated_6 {
  background-image: url('../public/assets/frame/leaves_5.png'); /* imagen de hojas en PNG */
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: -25px;
  border-radius: 20px;
}

